@model LoginUser
<form asp-action="Logis" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="logEmail"></label>
        <input class="form-control" asp-for="logEmail">
        <span asp-validation-for="logEmail" class="alert-danger"></span><br>
    </div>
    <div class="form-group">
        <label asp-for="logPassword"></label>
        <input class="form-control" asp-for="logPassword">
        <span asp-validation-for="logPassword" class="alert-danger"></span><br>
    </div>
    <input class="btn btn-success" value="Login Now" type="submit">
</form>
